{# generate url link, the link has 3 states: active normal disabled #}
{% macro genQueryUrl(queries, key, tax, url, cascadeFilters) %}
	{% set active = '' %}

	{% if  queries[key] is defined and ( queries[key] == tax or queries[key] is iterable ) %}
		{% if queries[key] is iterable %}
			{% if tax in queries[key] %}

				{% set queries = queries|merge({(key): null}) %}
				{% set active = 'is-active' %}
			{% endif %}
		{% else %}
			{% set queries = queries|merge({(key): null}) %}
			{% set active = 'is-active' %}
		{% endif %}
	{% else %}
		{% set queries = queries|merge({(key): tax})  %}
	{% endif %}

	{% set disabled = cascadeFilters.isDisabled((queries))?'disabled':'' %}
	{% set status = active? (active) : (disabled) %}

	{% if theme_var('header.kundencode') != 'immosit' %}
		<a href="{{ url }}/?{{ queries|url_encode }}" class="button {{ status }}">{{ tax }}</a>

	{% else %}
		{%	if (tax == 'ja') %}

		<a href="{{ url }}/?{{ queries|url_encode }}" class="button {{ status }} keyyes key-{{ key }}">

		{% if (key == 'nichtraucher') %}
		<img src="{{ url('theme://custom/logo/smoking-ban-solid.svg')}}"/>
		{% elseif (key == 'wlan') %}
		<img src="{{ url('theme://custom/logo/wifi-solid.svg')}}"/>
		{% elseif (key == 'haustiere') %}
		<img src="{{ url('theme://custom/logo/paw-solid.svg')}}"/>
		{% elseif (key == 'waschmaschine') %}
		<img src="{{ url('theme://custom/logo/washer-solid.svg')}}"/>
		{% elseif (key == 'zentrumsnah') %}
		<img src="{{ url('theme://custom/logo/map-marker-smile-solid.svg')}}"/>
		{% elseif (key == 'parking') %}
		<img src="{{ url('theme://custom/logo/parking-solid.svg')}}"/>
		{% else %}
		{{ tax }}
		{% endif %}
		</a>

		{% else %}
			<a href="{{ url }}/?{{ queries|url_encode }}" type="button" class="button {{ status }}" {{ status }}>{{ tax }}</a>
		{% endif %}
	{% endif %}





{% endmacro %}
