{# generate url link, the link has 3 states: active normal disabled #}
{% macro genQueryUrl(queries, key, tax, url, cascadeFilters) %}
	{% set active = '' %}

	{% if  queries[key] is defined and ( queries[key] == tax or queries[key] is iterable ) %}
		{% if queries[key] is iterable %}
			{% if tax in queries[key] %}

				{% set queries = queries|merge({(key): null}) %}
				{% set active = 'is-active' %}
			{% endif %}
		{% else %}
			{% set queries = queries|merge({(key): null}) %}
			{% set active = 'is-active' %}
		{% endif %}
	{% else %}
		{% set queries = queries|merge({(key): tax})  %}
	{% endif %}

	{% set disabled = cascadeFilters.isDisabled((queries))?'disabled':'' %}
	{% set status = active? (active) : (disabled) %}

	{% if theme_var('header.kundencode') != 'immosit' %}
		<a href="{{ url }}/?{{ queries|url_encode }}#catcont" class="button {{ status }}">{{ tax }}</a>

	{% else %}
		{%	if (tax == 'ja') %}

		<a href="{{ url }}/?{{ queries|url_encode }}#catcont" class="button {{ status }} keyyes key-{{ key }}">

		{% if (key == 'nichtraucher') %}
		<img src="{{ url('theme://custom/logo/smoking-ban-solid-white.svg')}}"/> <div class="belement">Nichtraucher</div>
		{% elseif (key == 'wlan') %}
		<img src="{{ url('theme://custom/logo/wlan-white.svg')}}"/> <div class="belement">WLAN</div>
		{% elseif (key == 'haustiere') %}
		<img src="{{ url('theme://custom/logo/paw-solid-white.svg')}}"/> <div class="belement">Haustiere</div>
		{% elseif (key == 'waschmaschine') %}
		<img src="{{ url('theme://custom/logo/washer-solid-white.svg')}}"/> <div class="belement">Waschmaschine</div>
		{% elseif (key == 'zentrumsnah') %}
		<img src="{{ url('theme://custom/logo/ortsmarker-white.svg')}}"/> <div class="belement">Zentrumsnah</div>
		{% elseif (key == 'garage') %}
		<img src="{{ url('theme://custom/logo/parking-solid-white.svg')}}"/> <div class="belement">Garage</div>
		{% elseif (key == 'fahrstuhl') %}
		<img src="{{ url('theme://custom/logo/sort-circle-solid-white.svg')}}"/> <div class="belement">Fahrstuhl</div>
		{% elseif (key == 'balkon') %}
		<img src="{{ url('theme://custom/logo/balkon-white.svg')}}"/> <div class="belement">Balkon</div>
		{% elseif (key == 'gartensitzplatz') %}
		<img src="{{ url('theme://custom/logo/Chair-white.svg')}}"/> <div class="belement">Gartensitzplatz</div>
		{% elseif (key == 'skiraum') %}
		<img src="{{ url('theme://custom/logo/Ski-white.svg')}}"/> <div class="belement">Skiraum</div>
		{% else %}
		{{ tax }}
		{% endif %}
		</a>

		{% else %}
				{%	if (tax == '2 Betten') %}
					<a href="{{ url }}/?{{ queries|url_encode }}#catcont" class="button {{ status }}">ab <img src="{{ url('theme://custom/logo/2_Betten.svg.svg')}}"/> Betten</a>
				{%	elseif (tax == '3 Betten') %}
					<a href="{{ url }}/?{{ queries|url_encode }}#catcont" class="button {{ status }}">ab <img src="{{ url('theme://custom/logo/3_Betten.svg.svg')}}"/> Betten</a>
				{%	elseif (tax == 'ab 4 Betten') %}
					<a href="{{ url }}/?{{ queries|url_encode }}#catcont" class="button {{ status }}">ab <img src="{{ url('theme://custom/logo/4_Betten.svg.svg')}}"/> Betten</a>
				{% else %}
					<a href="{{ url }}/?{{ queries|url_encode }}#catcont" class="button {{ status }}">{{ tax }}</a>
				{% endif %}
		{% endif %}
	{% endif %}





{% endmacro %}
